<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Rn.DataFile" value="I:\inetpub\TemperatureData.csv" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Rn.Logging.FilePath" value="I:\inetpub\DataCollector.log" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>
