<h1>Hello Light</h1>

<canvas id="myChart" width="450" height="200"></canvas>

@section scripts
{
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/pages/light.js"></script>
}
